html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  padding: 1%;
}
body {
  background-color: rgb(173, 212, 212);
}
form {
  margin: auto;
  width: 60%;
  box-align: center;
  background-color: #ffffff;
  box-sizing:  border-box;
  border-radius: 5px;
  resize: vertical;
}
.top-bott {
  text-align: center;
  padding: 15px;
}
.questions {
  display: inline-block;
  width: 40%;
  text-align: right;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.answers {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
  padding: 5px;
}
.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  padding-bottom: 5px;
}
.selectable {
  height: 30px;
  width: 250px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
.input-field2 {
  height: 50px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  padding-bottom: 15px;
  padding-top: 5px;
}
.button {
  height: 40px;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border: 0px solid;
  background-color: #59ace0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
}
.radio {
  padding-bottom: 10px;
  padding-top: 10px;
}